{% extends "base.html" %}
{% block title %}{{ exercise_name }} Records - GymTracker{% endblock %}
{% block content %}
  <h1 class="my-4">{{ exercise_name }}</h1>
  <ul class="list-group">
    {% if records %}
      {% for record in records %}
        <li class="list-group-item">{{ record.date }} - {{ record.sets }} sets x {{ record.reps }} reps @ {{ record.weight }} kg</li>
      {% endfor %}
    {% else %}
      <li class="list-group-item">No records found for this exercise.</li>
    {% endif %}
  </ul>
  <a href="{{ url_for('add_record', exercise_id=exercise_id) }}" class="btn btn-primary mt-3">Add New Record</a>
  <a href="{{ url_for('view_exercises') }}" class="btn btn-secondary mt-3">Back to Exercises</a>
{% endblock %}





